.header {
    &__title {
        color: #FFF;
        font-family: Roboto;
        font-size: 128px;
        font-style: normal;
        font-weight: 800;
        line-height: 135px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #FFF;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}